.shuffle-parent {
    display: inline-block;
    white-space: normal;
    word-wrap: break-word;
    will-change: transform;
    line-height: 1;
    font-size: 6rem;
    font-family: 'Noto Serif Display', serif;
    font-weight: 700;
    letter-spacing: 8px;
    text-transform: uppercase;
    visibility: hidden;
}

.shuffle-parent.is-ready {
    visibility: visible;
}

.shuffle-char-wrapper {
    display: inline-block;
    overflow: hidden;
    vertical-align: baseline;
    position: relative;
    /* Fix letter overlapping when scaling up font size */
    margin-right: 0.05em;
}

.shuffle-char-wrapper>span {
    display: inline-flex;
    will-change: transform;
}

.shuffle-char {
    line-height: 1;
    display: inline-block;
    text-align: center;
}